<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div routerLink="/" style="cursor: pointer;">
      <img src="assets/img/logo.png" alt="ACME Corp" />
    </div>
    <!-- <h1><a routerLink="/" style="color: white;">mTravel</a></h1> -->
    <span class="menu-spacer"></span>
    <div class="sm-hide">
      <button mat-button [routerLink]="['travelplan']">
        Travel Plan
      </button>
      <button mat-button [routerLink]="['expense']">
        Expense
      </button>
      <button mat-button [routerLink]="['bagHistory']">
        Bag History
      </button>
    </div>
    <div style="flex-grow:1"></div>
    <div>
      <button
        mat-icon-button
        [hidden]="!isLoggedIn"
        style="margin-right: 20px;"
        (click)="showWalletDetails()"
      >
        <mat-icon>account_balance_wallet</mat-icon
        ><span>&nbsp;&nbsp;{{ balance }}</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="sm-hide">
        <mat-icon>person</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="mainMenu" class="sm-show">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #mainMenu="matMenu" class="primary">
        <button class="primary" mat-menu-item [routerLink]="['travelplan']">
          Travel Plan
        </button>
        <button class="primary" mat-menu-item [routerLink]="['expense']">
          Expense
        </button>
        <button mat-menu-item class="primary" [routerLink]="['bagHistory']">
          Bag History
        </button>
        <button
          mat-menu-item
          class="primary"
          [routerLink]="['login']"
          [hidden]="isLoggedIn"
        >
          Login
        </button>
        <button
          mat-menu-item
          class="primary"
          [routerLink]="['profile']"
          [hidden]="!isLoggedIn"
        >
          Profile
        </button>
        <button
          mat-menu-item
          class="primary"
          (click)="signOut()"
          [hidden]="!isLoggedIn"
        >
          Sign Out
        </button>
      </mat-menu>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['login']" [hidden]="isLoggedIn">
          Login
        </button>
        <button mat-menu-item [routerLink]="['profile']" [hidden]="!isLoggedIn">
          Profile
        </button>
        <button mat-menu-item (click)="signOut()" [hidden]="!isLoggedIn">
          Sign Out
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
