<mat-toolbar color="primary">
  <!-- <span>Airline App</span> -->
  <mat-toolbar-row>
    <!-- <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button> -->
    <h1>mTravel</h1>
    <span class="menu-spacer"></span>
    <div>
      <button mat-button [routerLink]="['travelplan']">
        Travel Plan
      </button>
      <button mat-button [routerLink]="['expense']">
        Expense
      </button>
    </div>
    <div style="flex-grow:1"></div>
    <div>
      <button
        mat-icon-button
        [hidden]="!isLoggedIn"
        style="margin-right: 20px;"
      >
        <mat-icon>account_balance_wallet</mat-icon><span> 1000</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['login']" [hidden]="isLoggedIn">
          Login
        </button>
        <button mat-menu-item [routerLink]="['profile']" [hidden]="!isLoggedIn">
          Profile
        </button>
        <button mat-menu-item (click)="signOut()" [hidden]="!isLoggedIn">
          Sign Out
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
