<div class="row">
  <div class="col-md-12">
    <span
      >Available Balance : <strong>{{ this.balance }} </strong></span
    >
  </div>
  <div class="col-md-12">
    <span>Cap Details:</span>
  </div>
  <div class="col-md-3 col-sm-12 block">
    <span>Flight Fare<br /></span
    ><span class="price"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        flightFare
      }}</span
    >
  </div>
  <div class="col-md-3 col-sm-12 block">
    <span>Hotel Price<br /></span
    ><span class="price"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        hotelPrice
      }}</span
    >
  </div>
  <div class="col-md-3 col-sm-12 block">
    <span>Cae Fare<br /></span
    ><span class="price"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        carFare
      }}</span
    >
  </div>
  <div class="col-md-3 col-sm-12 block">
    <span>Insurance Price<br /></span
    ><span class="price"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        insurancePrice
      }}</span
    >
  </div>
</div>
