<div class="container">
  <div class="center">
    <div style="max-width: 400px;margin-top: 50px;">
      <div
        style=" border-style: groove; padding: 10px; border-radius: 10px; text-align: center;"
      >
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <h3>Login</h3>
          <hr />
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email" />
            </mat-form-field>
          </div>
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" />
            </mat-form-field>
          </div>
          <div style="text-align: center;">
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!loginForm.valid"
              style=" width: 200px;"
            >
              Sign In using Password
            </button>
          </div>
          <div style="text-align: center; margin-top: 10px;">
            <button
              mat-raised-button
              type="button"
              (click)="openDialog()"
              color="primary"
              [disabled]="!loginForm.controls.email.valid"
              style=" width: 200px;"
            >
              Sign In using Face Id
            </button>
            <div style="text-align: center; margin-top: 10px;">
              <a routerLink="/registration">Not a Member? Sign up</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
