<div class="row">
  <div class="col-md-12 col-lg-12 ">
    <span class="animated-background div padTB20 "></span>
  </div>
  <hr />
  <div class="col sm-12  col-md-9 col-lg-9 ">
    <div class="row" style="margin-top: 10px;">
      <div class="col sm-6 col-md-4 col-lg-4 ">
        <span class="animated-background padTB5 "></span>
        <br />

        <span class="animated-background padTB5 "></span>
        <br /><br />

        <span class="animated-background padTB10 "></span>
      </div>
      <div class="col sm-6 col-md-4 col-lg-4 ">
        <span class="animated-background padTB5 "></span>
        <br />

        <span class="animated-background padTB5 "></span>
        <br /><br />

        <span class="animated-background padTB10 "></span>
      </div>
      <div class="col sm-6 col-md-4 col-lg-4 ">
        <div>
          <span class="animated-background padTB5 "></span>
          <br />

          <span class="animated-background padTB5 "></span>
          <br /><br />

          <span class="animated-background padTB10 "></span>
        </div>
      </div>
    </div>
  </div>

  <div class=" col sm-6  col-md-3 col-lg-3 ">
    <br /><br />
    <span class="animated-background padTB20 "></span>
  </div>
  <div
    class="col-md-12 co-lg-12 col-sm-12"
    style="margin-top: 20px;text-align: left;"
  >
    <div style="text-align: left">
      <span
        class="animated-background padTB20 w25"
        style="float: right;"
      ></span>

      <span class="animated-background padTB20 w25"></span>
    </div>
  </div>
</div>
