<div class="row">
  <div class="col-md-4" style="line-height: 1.6;">
    <span style="font-size: 20px;"
      ><strong>{{ insurance.name }}</strong></span
    ><br />
    <span>Type: {{ insurance.type }}</span
    ><br />
    <span>Vendor: {{ insurance.vendor }}</span
    ><br />
    <span>Start Date : {{ insurance.startDate | date: "EEE, MMM d, y " }}</span
    ><br /><span>End Date : {{ insurance.endDate | date: "E, MMM d, y" }}</span>
  </div>
  <div class="col-md-4">
    <span><strong>Coverages</strong></span>
    <ul style="padding-left: 15px;">
      <li *ngFor="let item of insurance.coverage">{{ item }}</li>
    </ul>
  </div>
  <div class="col-md-4" style="text-align: right;line-height: 1.3;">
    <span><strong>Price: </strong></span><br />
    <span style="font-size: 30px; font-weight: bold;"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        insurance.price
      }}</span
    >
    <br />
    <span>{{ requestDetails }}</span>
  </div>
  <div class="col-sm-12 col-md-12 custom-button" [hidden]="isView">
    <div class="add">
      <button
        mat-raised-button
        color="primary"
        (click)="addToTravelPlan()"
        [hidden]="isView"
      >
        Add To Plan
      </button>
    </div>
    <div class="details">
      <button mat-button color="primary" (click)="showDetails = !showDetails">
        Show Details
        <i class="material-icons">
          {{ getIcon }}
        </i>
      </button>
    </div>
  </div>
  <div class="col-md-12" [hidden]="!isView">
    <button mat-button color="primary" (click)="showDetails = !showDetails">
      Show Details
      <i class="material-icons">
        {{ getIcon }}
      </i>
    </button>
  </div>
  <div class="col-md-12" [hidden]="!showDetails">
    <mat-list>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Details</h3>
      <mat-list-item *ngFor="let description of insurance.description">
        <h4 mat-line>{{ description.title }}</h4>
        <p mat-line style="text-justify: auto;">{{ description.details }}</p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
