<div class="row">
  <div
    class="col-md-4"
    style="text-align: left;padding-left: 20px;line-height: 1.6"
  >
    <span style="font-size: 20px;">{{ car.class }}</span>
    <br />
    <span>{{ car.type }}</span>
    <br />
    <fa-icon [icon]="passeneger" style="font-size: 20px;"></fa-icon
    ><span style="font-size: 20px;">
      &nbsp;&nbsp;{{ car.passengerCapacity }}</span
    >
    <br />
    <fa-icon [icon]="luggage" style="font-size: 20px;"></fa-icon
    ><span style="font-size: 20px;">
      &nbsp;&nbsp;{{ car.baggageCapacity }}</span
    >
  </div>
  <div class="col-md-4" style="text-align: center;">
    <img [src]="car.img" [alt]="car.type" style="width: 200px;" />
  </div>
  <div
    class="col-md-4"
    style="text-align: right;padding-right: 20px;line-height: 1.6; "
  >
    <span> Parner : {{ car.partner }}</span
    ><br />
    <span><strong>Price: </strong></span><br />
    <span style="font-size: 30px; font-weight: bold;"
      ><fa-icon [icon]="icon" style="font-size: 20px;"></fa-icon>&nbsp;&nbsp;{{
        car.price
      }}</span
    >
    <div *ngIf="!isView; else view">
      <button mat-raised-button color="primary" (click)="addToTravelPlan()">
        Add To Plan
      </button>
    </div>
    <ng-template #view
      ><div>
        <span>Pick up loc: {{ request.pickUpLocation }}</span
        ><br /><span>Drop Off Location : {{ request.dropOffLocation }}</span>
      </div>
    </ng-template>
  </div>
</div>
